In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#  Initial Data Assesment

In [5]:
# Load the Data from CSV
car08_df = pd.read_csv('all_alpha_08.csv')
car18_df = pd.read_csv('all_alpha_18.csv')

In [6]:
# Understanding the different columns (features) in each Data Set
car08_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [7]:
car18_df.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404

# Data Assesment

- number of samples in each dataset
- number of columns in each dataset
- duplicate rows in each dataset
- datatypes of columns
- features with missing values
- number of non-null unique values for features in each dataset
- what those unique values are and counts for each

In [11]:
# number of samples in each dataset
# number of columns in each dataset
car08_df.shape,car18_df.shape

((2404, 18), (2682, 18))

In [26]:
# duplicate rows in each dataset
car08_df.duplicated().sum(), car18_df.duplicated().sum()

(25, 0)

In [23]:
# datatypes of columns
# features with missing values
# number of non-null unique values for features in each dataset
car08_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [22]:
car18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 18 columns):
Model                   2682 non-null object
Displ                   2637 non-null float64
Cyl                     2637 non-null float64
Trans                   2682 non-null object
Drive                   2682 non-null object
Fuel                    2682 non-null object
Cert Region             2682 non-null object
Stnd                    2682 non-null object
Stnd Description        2682 non-null object
Underhood ID            2682 non-null object
Veh Class               2682 non-null object
Air Pollution Score     2682 non-null int64
City MPG                2682 non-null object
Hwy MPG                 2682 non-null object
Cmb MPG                 2682 non-null object
Greenhouse Gas Score    2682 non-null int64
SmartWay                2682 non-null object
Comb CO2                2682 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 377.2+ KB

In [24]:
# Get all Duplicated Data in the Data Set
car08_df[car08_df.duplicated()]

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
752,DODGE Sprinter 2500,3.5,NaN,NaN,NaN,Gasoline,FA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
754,DODGE Sprinter 2500,3.5,NaN,NaN,NaN,Gasoline,CA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
769,FORD E150,4.6,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT04.65HA,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
771,FORD E150,4.6,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT04.65HA,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
773,FORD E150,5.4,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
775,FORD E150,5.4,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
794,FORD E350,5.4,NaN,NaN,NaN,Gasoline,FA,B8,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
797,FORD E350,5.4,NaN,NaN,NaN,Gasoline,CA,U2,8FMXT05.45H2,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
800,FORD E350,5.4,NaN,NaN,NaN,Gasoline,FA,HDV,8FMXK05.46R3,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
958,FREIGHTLINER 2500,3.5,NaN,NaN,NaN,Gasoline,FA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
960,FREIGHTLINER 2500,3.5,NaN,NaN,NaN,Gasoline,CA,B8,8MBXT03.5BN8,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1000,GMC Savana 1500,5.3,(8 cyl),Auto-L4,4WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8375,2,no
1001,GMC Savana 1500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1006,GMC Savana 1500,5.3,(8 cyl),Auto-L4,4WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8375,2,no
1007,GMC Savana 1500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1015,GMC Savana 2500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,FA,B5,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1019,GMC Savana 2500,5.3,(8 cyl),Auto-L4,2WD,Gasoline,CA,L2,8GMXT05.3384,van,6,Drv,12,16,14,13.8612,2,no
1021,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FC,B8,8GMXT06.2394,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1023,GMC Savana 3500,6.2,NaN,NaN,NaN,Gasoline,FC,B8,8GMXT06.2394,van,3,NaN,NaN,NaN,NaN,NaN,NaN,no
1026,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1027,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0396,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1030,GMC Savana 3500,4.8,NaN,NaN,NaN,Gasoline,CA,L2,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1033,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1034,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,FA,HDV,8GMXK06.0396,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no
1037,GMC Savana 3500,6.0,NaN,NaN,NaN,Gasoline,CA,L2,8GMXK06.0389,van,2,NaN,NaN,NaN,NaN,NaN,NaN,no

In [35]:
# features with missing values
car08_df.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [84]:
car08_df.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [53]:
# Get all rows with missing infomraiton (any column with missing Data)
null_data_08 = car08_df[car08_df.isnull().any(axis=1)]

In [54]:
null_data_08.shape

(199, 18)

In [86]:
# Get all Unique values in a specifc Column
car08_df.Fuel.unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [87]:
# Get all Unique values in a specifc Column
car18_df.Fuel.unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Electricity',
       'Ethanol/Gas', 'Hydrogen'], dtype=object)

# Cleaning the Data

In [111]:
car08_df.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'stnd', 'underhood_id', 'veh_class', 'air_pollution_score',
       'fe_calc_appr', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'unadj_cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [113]:
car08_df.drop(['underhood_id','fe_calc_appr','unadj_cmb_mpg'],axis=1,inplace=True)

In [114]:
car18_df.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'stnd', 'stnd_description', 'underhood_id', 'veh_class',
       'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway', 'comb_co2'],
      dtype='object')

In [123]:
car18_df.drop(['stnd','stnd_description','underhood_id','comb_co2'],axis=1,inplace=True)

In [117]:
car08_df.rename(columns={'Sales Area':'Cert Region'},inplace=True)

In [118]:
car08_df.head()

,model,displ,cyl,trans,drive,fuel,cert_region,stnd,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,midsize car,7,16,24,19,5,no

In [119]:
label = 'Karim Okasha'
new_label = label.strip().lower().replace(' ','_')
new_label

'karim_okasha'

In [120]:
# replace spaces with underscores and lowercase labels for 2008 dataset
car08_df.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# replace spaces with underscores and lowercase labels for 2008 dataset
car18_df.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [121]:
car08_df.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,stnd,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,SUV,7,15,20,17,4,no

In [124]:
car18_df.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

## Filter Data

In [132]:
car08_df.query('cert_region == "CA"',inplace=True)

In [135]:
car08_df.shape

(1084, 15)

In [139]:
car08_df.drop('stnd',axis=1,inplace=True)

In [140]:
car08_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [141]:
car18_df.query('cert_region == "CA"',inplace=True)

In [142]:
car18_df.shape

(1322, 14)

In [144]:
car18_df.drop('cert_region',axis=1,inplace=True)

In [145]:
car18_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,25,35,29,6,No
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,small SUV,3,26,27,27,6,No
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small SUV,3,19,27,22,4,No
5,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small SUV,3,20,27,23,5,No
8,ACURA MDX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small SUV,3,18,26,21,4,No

## Drop Rows with Missing Values

In [150]:
car08_df.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [151]:
car08_df.dropna(inplace=True)

In [153]:
car08_df.isnull().sum().any()

False

In [154]:
car08_df.shape

(1009, 13)

In [156]:
car18_df.isnull().sum()

model                    0
displ                   20
cyl                     20
trans                    0
drive                    0
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
dtype: int64

In [157]:
car18_df.dropna(inplace=True)

In [158]:
car18_df.isnull().sum().any()

False

In [159]:
car18_df.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

## Drop Duplicate Rows

In [162]:
car08_df.duplicated().sum(),car18_df.duplicated().sum()

(23, 10)

In [163]:
car08_df.drop_duplicates(inplace=True)
car18_df.drop_duplicates(inplace=True)

In [165]:
car08_df.shape,car18_df.shape

((986, 13), (1292, 13))

In [166]:
car08_df.to_csv('car_08.csv',index=False)
car18_df.to_csv('car_18.csv',index=False)

# Fixing Data Type

In [174]:
type(car08_df.cyl[0]),car08_df.cyl[0]

(str, '(6 cyl)')

In [180]:
car08_df.cyl.unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
       '(16 cyl)', '(5 cyl)', '(2 cyl)'], dtype=object)

In [208]:
car08_df.cyl.value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [199]:
car08_df.cyl[6].strip('(').split(' ')[0]

'6'

In [210]:
car08_df.cyl = car08_df.cyl.str.extract('(\d+)').astype(int)

In [214]:
car18_df.cyl = car18_df.cyl.astype(int)

In [218]:
car08_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 2400
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null int64
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), int64(1), object(11)
memory usage: 147.8+ KB

In [216]:
car18_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4,AMS-8,2WD,Gasoline,small car,3,25,35,29,6,No
2,ACURA MDX,3.0,6,AMS-7,4WD,Gasoline,small SUV,3,26,27,27,6,No
4,ACURA MDX,3.5,6,SemiAuto-9,2WD,Gasoline,small SUV,3,19,27,22,4,No
5,ACURA MDX,3.5,6,SemiAuto-9,2WD,Gasoline,small SUV,3,20,27,23,5,No
8,ACURA MDX,3.5,6,SemiAuto-9,4WD,Gasoline,small SUV,3,18,26,21,4,No

In [220]:
car08_df.air_pollution_score.astype(float)

ValueError: could not convert string to float: '6/4'